:root {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: bottom right 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
}
